<!DOCTYPE html>
<html>
  <head>
    <title>Versify</title>
  </head>
  <body>
    <div id="navbar">
      <div id="navcontent">
	<ul>
	  <li>Home</li>
	  <li>About</li>
	  <li>Leaderboard</li>
	</ul>
      </div>
    </div>
  </body>


</html>
